.user-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square {
  width: 40px;
  height: 40px;
  background-color: blue;
}

.boat {
  background-color: gray;
}

.missed {
  background-color: burlywood;
}

.hit {
  background-color: red;
}